<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Url Shortner | Rohit</title>
    <style>
      body {
        background-color: aliceblue;
      }
      .container {
        background-color: #00203fff;
        color: #adefd1ff;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
          rgba(0, 0, 0, 0.22) 0px 10px 10px;
      }
      table tr td,
      th {
        color: #adefd1ff;
        font-size: 1.5rem;
      }
      h1 {
        text-align: center;
      }
      a {
        color: #adefd1ff;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="my-3 py-3">Rohit's URL Shrinker</h1>
      <form action="/shortUrls" method="POST" class="my-2 form-inline">
        <label for="fullUrl" class="sr-only">Url</label>
        <input
          required
          placeholder="Url"
          type="url"
          name="fullUrl"
          id="fullUrl"
          class="form-control col mr-2"
        />
        <button class="btn btn-success" type="submit">Shrink</button>
      </form>

      <table class="table table-striped my-lg-5">
        <thead>
          <tr>
            <th>Full URL</th>
            <th>Short URL</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
            <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
            <td><%= shortUrl.clicks %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
